.employees-card {
    width: 312px;
    position: relative;
    margin: 48px 0 80px;
    height: 398px;

    @media (hover: hover) {
        &:hover {
            .employees-card__front {
                transform: perspective(600px) rotateY(-180deg);
            }

            .employees-card__back {
                transform: perspective(600px) rotateY(0deg);
            }
        }
    }

    &__image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &__front {
        transform: perspective(900px) rotateY(0deg);
        transition: all 0.8s ease 0s;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;

        &_active {
            transform: perspective(600px) rotateY(-180deg);
        }
    }

    &__back {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transform: perspective(900px) rotateY(180deg);
        transition: all 0.8s ease 0s;
        position: absolute;
        overflow: hidden;
        backface-visibility: hidden;

        &_active {
            transform: perspective(600px) rotateY(0deg);
        }
    }

    &__front-text {
        background-color: #fff;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin: 0 16px 10px;
        color: #222;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    &__subtitle {
        margin: 0 20px;
        color: #222;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
    }

    &__text {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        margin: 40px 20px;
    }

    &__experience {
        color: #222;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        margin: 0 20px;
    }
}
