.feedback {
    background-image: url(../../../images/Feedback.png);

    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (hover: hover) {
        &:hover {
            .feedback__title::before {
                width: 80px;
            }
        }
    }

    @media (max-width: 1024px) {
        align-items: center;
    }

    &__title {
        color: #222;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: 150%;
        text-transform: uppercase;
        position: relative;
        margin: 80px 0 37px 70px;

        @media (max-width: 768px) {
            font-size: 20px;
            margin: 60px 24px 37px;
        }

        &::before {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 50px;
            content: "";
            height: 3px;
            background: #4f8ff0;
            transition: all 0.3s ease 0.1s;
        }
    }

    &__card-slider {
        width: 100%;
        max-width: 1320px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .splide {
        padding: 0;
        width: calc(100% - 25px - 25px);
    }

    .splide__arrow svg {
        fill: #4f8ff0;

        @media (hover: hover) {
            &:hover {
                fill: #4f8ff0;
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .splide__list {
        max-width: 650px;
    }

    .splide__track {
        max-width: 100%;
    }

    &__buttons {
        margin: 38px 0 60px 70px;
        display: flex;
        gap: 24px;

        @media (max-width: 768px) {
            margin: 38px 0 60px 0;

            max-width: 342px;
            flex-direction: column;
            gap: 16px;
        }
    }
}
